{{#if theUser}}
{{> menu}}
<div class="container mt-4">
  <div class="row">
    <div class="col-9">
      <h3 class="pl-4">Flashcard Deck:      <u>{{cardData.name}}</u></h3>
    </div>
    <div class="col-3">
      <a  class="btn btn-success" href="/edit-deck/{{cardData._id}}">
      Edit Deck
      </a>
      <a class="btn btn-danger" href="/delete-card/{{cardData._id}}">
      Delete Deck
      </a>

      </a>
    </div>
  </div>
</div>
<div class="container">
{{#each data}}
<div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h3 class="hand">{{this.word}}</h3>
      </div>

      <div class="flip-card-back">

        <div class="side-b flash ">
          <p class="d-block">
            {{this.def}}
          </p>
        </div>
      </div>

    </div>
  </div>

  {{/each}}
</div>
{{else}}
{{> login}}
{{/if}}
 