{{#if theUser}}


<div class="container-fluid p-0 mx-auto nav">
    <div class="mx-auto nav-inner">
      <div class="row ">
        <div class="col-8">
          <h6>Welcome Back,{{theUser.username}}</h6>
        </div>
        
      <div class="text-center col-4 ">
        <a class="m-4" href="/edit-profile/{{theUser._id}}">
          <u>Edit Profile</u>
        </a>
        <a href="/logout">
          <u>Logout</u>
        </a>
       
        </div>
        
      
      </div>
    </div>
  </div>
  <div class="container p-0 mx-auto">
   
        {{#if showDecks}}

        <div class="deck-body">
        <div class="container  mt-4 p-0">
          <div class="row deck-header">
            <div class="col-8">
              <h3>Flashcard Decks:</h3>
            </div>

        <div class="text-center col-4">
        <a class="btn btn-success" href="/create-new-deck">
          Create New Deck
        </a>
        </div>
          </div>
          <div class="container deck-body">
          <div class="row">
          <div class="col-4 pl-4">
           Deck Name:
          </div>
          <div class="col-6">
           Date Created:
          </div>
          <div class="col-2">
           Edit/Delete:
          </div>
        </div>

        <div class="container">
          {{#each showDecks}}
           
        

       <div class="row decks-list">
          <div class="col-4">
           <u><a href="/deck/{{this._id}}">{{this.name}}</a></u>
          </div>
          <div class="col-6">
           {{this.created_at}}
          </div>
          <div class="col-2">
            <u><a data-id = "{{this._id}}" href="/edit-deck/{{this._id}}">Edit</a></u>
          </div>

        </div>
        {{/each}}
        </div>
        </div>
        {{else}}
            <form id="createDeckForm" method="POST" action="/" >
            
            <input id="quizname" type="text" name="quizName">
            <div id="wordList">

            </div>

            </form>
            <button class="create" id="newWord">New Word</button>
            <button class="create" id="submitWords" type='submit'>ADD WORDS</button>

      {{/if}}
  
</div>
{{else}}
<form action="/login" method="POST">
  <h2 class="text-center">Login</h2>

  <label for="username">Username</label>
  <input type="text" name="username">

  <label for="password">Password</label>
  <input type="password" name="password">

   {{#if errorMessage}}
    <div>{{errorMessage}}</div>
    {{/if}}
  <div class="mx-auto text-center mt-2">
    <button class="btn btn-primary mx-auto text-center">Sign in</button>
  </div>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>
{{/if}}


