{{#if theUser}}
{{> menu}}
  <div class="container p-0 mx-auto">
   
        {{#if showDecks}}

        <div class="deck-body">
        <div class="container  mt-4 p-0">
          <div class="row deck-header">
            <div class="col-8">
              <h3>Flashcard Decks:</h3>
            </div>

        <div class="text-center col-4">
        <a class="btn btn-success" href="/create-new-deck">
          Create New Deck
        </a>
        </div>
          </div>
          <div class="container deck-body">
          <div class="row">
          <div class="col-4 pl-4">
           Deck Name:
          </div>
          <div class="col-6">
           Date Created:
          </div>
          <div class="col-2">
           Edit/Delete:
          </div>
        </div>

        <div class="container">
          {{#each showDecks}}
           
        

       <div class="row decks-list">
          <div class="col-4">
           <u><a href="/deck/{{this._id}}">{{this.name}}</a></u>
          </div>
          <div class="col-6">
           {{this.created_at}}
          </div>
          <div class="col-2">
            <u><a data-id = "{{this._id}}" href="/edit-deck/{{this._id}}">Edit</a></u>
            <u class="pl-3"><a data-id = "{{this._id}}" href="/delete-card/{{this._id}}">Delete</a></u>
          </div>

        </div>
        {{/each}}
        </div>
        </div>
        {{else}}
            <form id="createDeckForm" method="POST" action="/submit" >
            
            <input id="quizname" type="text" name="quizName">
            <div id="wordList">

            </div>

            </form>
            <button class="create" id="newWord">New Word</button>
            <button class="create" id="submitWords" type='submit'>ADD WORDS</button>

      {{/if}}
  
</div>
{{else}}
{{> login}}
{{/if}}


